//
// COLORS
// ------
$colorWhite: #F7F7F7;
$colorOffWhite: #EEE;
$colorHardWhite: #DDD;
$colorLightGray: #AAA;
$colorGray: #777;
$colorDarkGray: #444;
$colorFogGray: rgba(140, 140, 140, 0.5);
$colorOrphanedItem: rgba(255, 0, 0, 0.1);
$colorRibbon: #ed433a;

//
// BACKGROUNDS
// -----------
$headerBackground: url('../images/tree_bark.png');
$bodyBackground: url('../images/groovepaper.png');

//
// FONT
// ----
$fontRaleway: 'Raleway', 'Helvetica', 'Arial', sans-serif;
$fontOswald: 'Oswald', 'Helvetica', 'Arial', sans-serif;