//
// BOOTSTRAP
// ---------
$icon-font-path: '/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/';

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

//
// IMPORTS
// -------
@import 'variables';

//
// TAGS
// ----
html, body {
  height: 100%;
}

body {
  background-image: $bodyBackground;
  background-position: static;
  color: $colorDarkGray;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fontOswald;
}

h2 {
  color: $colorGray;
}

p {
  font-family: $fontRaleway;
}

a {
  color: inherit;
}

hr {
  border-top-color: $colorFogGray;
}

tr {
  vertical-align: middle;
}

input {
  width: 100%;
}

//
// HEADER
// ------
.header-container {
  position: fixed;
  left: 0px;
  right: 0px;
  z-index: 1001;

  & li {
    font-family: $fontOswald;
    font-size: 16px;

    & a {
      color: $colorGray;
      cursor: pointer;
    }
  }
}

.header {
  background-image: $headerBackground;
  border-bottom: 1px solid $colorLightGray;
  border-top: 3px solid $colorLightGray;
  padding-left: 15px;
  padding-right: 15px;
}

#header-login-button {
  padding-top: 4px;
}

.logo {
  cursor: pointer;
  display: inline;
  height: 50px;
}

.header-nav {
  background-color: $colorOffWhite;
  border-bottom: 1px solid $colorLightGray;
  box-shadow: 0px 5px 12px -2px $colorFogGray;
  margin-bottom: 20px;
}

//
// BODY
// ----
.body-container {
  margin-bottom: -140px;
  min-height: 100%;
  padding-top: 160px;
  padding-bottom: 160px;
}

.container {
  padding: 0;
}

.home-banner {
  width: 100%;
  z-index: -1;
}

.jumbotron {
  text-align: center;
  border: 1px solid $colorLightGray;
  box-shadow: 0px 3px 12px 0px $colorFogGray;

  & .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.featured-banner {
  border-top: 2px solid $colorLightGray;
  border-bottom: 2px solid $colorLightGray;
  margin-top: 60px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-align: center;

  & h2 {
    line-height: 10px;
  }
}

#featured-items-link {
  cursor: pointer;
}

.featured-item {
  background-color: $colorOffWhite;
  border: 1px solid $colorLightGray;
  box-shadow: 0px 3px 12px 0px $colorFogGray;
  margin: 10px;
  padding: 5px;
  width: 350px;
  min-height: 350px;

  & .feature-name {
    text-align: center;
  }

  & .feature-description {
    padding: 20px;
  }

  & .feature-image {
    & img {
      margin-left: 5%;
      width: 90%;
    }
  }
}

.product-container {
  & .products-name {
    text-align: center;
  }

  & .products-description {
    text-align: center;
  }
}

.input-box {
  border: 1px solid $colorLightGray;
  border-radius: 6px;
  display: block;
  font-family: $fontRaleway;
  font-size: 1.5em;
  font-weight: bold;
  margin: 22px auto;
  padding: 10px 15px;
  position: relative;
  width: 75%;
}

.button {
  background-color: $colorFogGray;
  border: 1px solid $colorGray;
  border-radius: 4px;
  color: $colorDarkGray;
  display: inline-block;
  font-family: $fontOswald;
  font-size: 1.75em;
  font-style: normal;
  font-weight: 900;
  height: 80px;
  line-height: 50px;
  margin: 40px auto 10px auto;
  outline: none;
  text-align: center;
  text-shadow: 1px 1px 0px $colorOffWhite;
  width: 300px;

  &:hover {
    opacity: 0.8;
  }
}

.center {
  text-align: center;
}

.full-width {
  max-width: 100%;
  width: 100%;
}

.field-label {
  margin-bottom: -10px;
  margin-left: 2px;
  margin-top: 0px;
}

//
// ITEMS
// -----
.item-container {
  background-color: white;
  border: 1px solid $colorHardWhite;
  border-radius: 4px;
  box-shadow: 0px 3px 12px 0px $colorFogGray;
  margin-bottom: 40px;
  padding: 20px 20px 20px 20px;
}

.item-view-container {
  margin-top: -45px;
}

#item-quantity {
  float: left;
  width: 80px;
}

#item-featured {
  float: left;
  height: 51px;
  width: 100px;
}

#item-price {
  float: left;
  padding-left: 25px;
  width: 160px;
}

#item-image-container {
  & img {
    width: 100%;
  }
}

#upload-image,
#take-new-image {
  margin-top: -6px;
  margin-bottom: 10px;
}

#image-file-selector {
  display: none;
}

#related-items-banner {
  padding-bottom: 30px;
  padding-left: 10px;

  & h1 {
    line-height: 110px;
  }
}

.related-item-preview {
  background-color: $colorWhite;
  border: 1px solid $colorHardWhite;
  border-radius: 3px;
  display: inline-block;
  margin-left: 6px;
  margin-right: 6px;
  width: 100px;
  height: 100px;
  overflow: hidden;

  & img {
    background-color: $colorOffWhite;
    height: 100px;
  }

  &:hover {
    opacity: 0.7;
  }
}

.item-box {
  & h5 {
    display: inline-block;
  }
}

.social-links {
  display: inline;
  position: absolute;
  right: 30px;
  top: 17px;

  & span {
    display: inline-block;
  }
}

//
// ADMIN
// -----
.section {
  background-color: $colorOffWhite;
  border: 1px solid $colorLightGray;
  border-radius: 4px;
  box-shadow: 0px 3px 12px 0px $colorFogGray;
  margin-bottom: 40px;
  padding: 0px 20px 20px 20px;
}

.edit-product,
.edit-item,
.update-product,
.update-item {
  float: right;
  margin-bottom: 2px;
  margin-top: 2px;
  width: 112px;
}

.cancel-product-update,
.cancel-item-update,
.delete-product,
.delete-item {
  @extend .edit-product;

  margin-left: 2px;
}

.price-container,
.quantity-container,
.featured-container {
  float: left;
}

//
// FOOTER
// ------
.footer {
  border-top: 1px solid $colorOffWhite;
  color: $colorGray;
  font-family: $fontRaleway;
  margin-top: 60px;
  margin-bottom: 20px;
  padding: 30px 15px 0px 15px;
  text-align: center;

  & p {
    color: $colorOffWhite;
  }
}

.mountains {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: -310px;
  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  transform: translate3d(0,0,0);
  z-index: -1;
}

.mountains-shown {
  bottom: -60px;
}

//
// RESPONSIVE
// ----------
@media screen and (min-width: 768px) {
  .container {
    max-width: 960px;
  }

  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

//
// INSTALLED STYLES
// ----------------
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container-narrow > hr {
  margin: 30px 0;
}
