//
// BOOTSTRAP
// ---------
$icon-font-path: '/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/';

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

//
// IMPORTS
// -------
@import 'variables';

//
// TAGS
// ----
body {
  background-image: $bodyBackground;
  color: $colorDarkGray;
  padding: 0px;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Helvetica', 'Arial', sans-serif;
}

p {
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
}

//
// HEADER
// ------
.header-container {
  position: fixed;
  left: 0px;
  right: 0px;
  z-index: 1001;

  li {
    font-family: 'Oswald', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;

    a {
      color: $colorGray;
    }
  }
}

.header {
  background-image: $headerBackground;
  border-bottom: 1px solid $colorLightGray;
  border-top: 3px solid $colorLightGray;
  padding-left: 15px;
  padding-right: 15px;
}

#header-login-button {
  cursor: pointer;
}

.logo {
  cursor: pointer;
  display: inline;
  height: 50px;
}

.header-nav {
  background-color: $colorOffWhite;
  border-bottom: 1px solid $colorLightGray;
  box-shadow: 0px 5px 12px -2px $colorFogGray;
  margin-bottom: 20px;
}

//
// BODY
// ----
.body-container {
  padding-top: 160px;
}

.home-banner {
  width: 100%;
  z-index: -1;
}

.jumbotron {
  text-align: center;
  border: 1px solid $colorFogGray;
  box-shadow: 0px 3px 12px 0px $colorFogGray;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.featured-banner {
  border-top: 2px solid $colorLightGray;
  border-bottom: 2px solid $colorLightGray;
  margin-top: 60px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-align: center;

  h2 {
    line-height: 10px;
  }
}

.featured-item {
  background-color: $colorOffWhite;
  border: 1px solid $colorLightGray;
  box-shadow: 0px 3px 12px 0px $colorFogGray;
  margin: 10px;
  padding: 5px;
  width: 350px;
  min-height: 350px;

  .feature-name {
    text-align: center;
  }

  .feature-description {
    padding: 20px;
  }

  .feature-image {
    img {
      margin-left: 5%;
      width: 90%;
    }
  }
}

//
// FOOTER
// ------
.footer {
  border-top: 1px solid $colorLightGray;
  color: $colorGray;
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 25px 15px 10px 15px;
  text-align: center;
}

//
// RESPONSIVE
// ----------
@media screen and (min-width: 768px) {
  .container {
    max-width: 960px;
  }

  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}










//
// INSTALLED STYLES
// ----------------
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container-narrow > hr {
  margin: 30px 0;
}
