<!doctype html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <title>Welcome to Chesson Country</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="/favicon.ico">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css styles/vendor.css -->
  <link href='http://fonts.googleapis.com/css?family=Oswald|Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../../bower_components/sweetalert/lib/sweet-alert.css">
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>

<body>
  <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

  <!-- - - - - - -
  |         HEADER
  - - - - - - - -->
  <div class="header-container">
    <div class="header">
      <div class="container">
        <ul class="nav nav-pills pull-right">
          <li style="padding-top: 5px;">
            <a>
              <div id="header-login-button">
                Login
              </div>
            </a>
          </li>
        </ul>

        <img class="logo" src="images/chesson-country-with-text-transparency.png">
      </div>
    </div>

    <div class="header-nav">
      <div class="container">
        <ul class="nav nav-pills pull-left">
          <li><a id="featured-items-link">FEATURED</a></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">PRODUCTS<span class="caret"></span></a>

            <ul class="dropdown-menu" role="menu">
              <li><a href="/#products">View All Products...</a></li>
              <li class="divider"></li>
              <li><a href="#">Furniture</a></li>
              <li><a href="#">Toys</a></li>
              <li><a href="#">Houseware</a></li>
              <li><a href="#">Collectibles</a></li>
              <li><a href="/#products">...and more!</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">ITEMS<span class="caret"></span></a>

            <ul class="dropdown-menu" role="menu">
              <li><a href="/#items">View All Items...</a></li>
              <li class="divider"></li>
              <li><a href="#">1938 Dining Room Table</a></li>
              <li><a href="#">1942 Floor Lamp</a></li>
              <li><a href="#">1967 Leather Ottoman</a></li>
              <li><a href="#">1954 Toy Corvette</a></li>
              <li><a href="/#items">...and more!</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- - - - - - -
  |           BODY
  - - - - - - - -->
  <div class="body-container">
    <div class="container">
      <div class="view-container">
      </div>

      <div class="footer">
        <p>© 2014 | Created with <span class="glyphicon glyphicon-heart"></span> by Jeffrey Dill <strong>(for his favorite in-laws)</strong>.</p>

        <img class="logo" src="images/chesson-country-with-text-transparency.png">
      </div>
    </div>
  </div>

  <!-- - - - - - -
  |      TEMPLATES
  - - - - - - - -->

  <!-- HOME VIEW -->
  <script type="text/template" id="home-view-template">
    <div class="jumbotron">
      <h1>Welcome!</h1>

      <br/>

      <p class="lead">
        Thanks for visiting <span style="font-family: 'Lobster'; font-size: 28px; color: #777;">Chesson Country</span>! Please enjoy
        browsing the inventory of unique, vintage, and antique items that we have for sale. We&#8217;d also love to meet you
        in person at our product showroom at
        <a target="_blank" href="//www.facebook.com/pages/Southern-Estates-Antiques-Inc/113845738669203">
          Southern Estates Antiques.
        </a>
      </p>

      <br/>

      <h2>
        415 Mauldin Road<br/>
        Greenville, SC 29605
      </h2>
      <!-- //<p><a class="btn btn-lg btn-success" href="#">Splendid! <span class="glyphicon glyphicon-ok"></span></a></p> -->
    </div>

    <a id="featured-items"></a>

    <div class="featured-banner">
      <h2>Featured Items</h2>
    </div>

    <div class="row">
      <% items.forEach(function(item) { %>
        <div class="featured-item col-md-6">
          <div class="feature-name">
            <h3><%= item.attributes.name %></h3>
          </div>

          <div class="feature-image">
            <img src="<%= item.attributes.image._url %>">
          </div>

          <div class="feature-description">
            <p><%= item.attributes.description %></p>
          </div>
        </div>
      <% }); %>
    </div>
  </script>

  <!-- LOGIN VIEW -->
  <script type="text/template" id="login-view-template">
    <input id="username-input-box" placeholder="Username">
    <input id="password-input-box" placeholder="Password" type="password">
    <button class="button" id="login-button" >Sign In</button>
  </script>

  <!-- ADMIN VIEW -->
  <script type="text/template" id="admin-view-template">
    <p>ADMIN VIEW</p>
  </script>

  <!-- PRODUCTS VIEW -->
  <script type="text/template" id="products-view-template">
    <div class="row">
      <% products.forEach(function(product) { %>
        <a href="/#products/<%= product.id %>">
          <div class="product-container">
            <div class="products-box col-md-4">
              <div class="products-name">
                <h3><%= product.attributes.name %></h3>
              </div>

              <div class="products-description">
                <p><%= product.attributes.description %></p>
              </div>
            </div>
          </div>
        </a>
      <% }); %>
    </div>
  </script>

  <!-- PRODUCT VIEW -->
  <script type="text/template" id="product-view-template">
    <div class="row">
      <% items.forEach(function(item) { %>
        <div class="products-box col-md-6">
          <div class="products-name">
            <h3><%= item.attributes.name %></h3>
          </div>

          <div class="products-description">
            <p><%= item.attributes.description %></p>
          </div>
        </div>
      <% }); %>
    </div>
  </script>

  <!-- ITEMS VIEW -->
  <script type="text/template" id="items-view-template">
    <div class="row">
      <% items.forEach(function(item) { %>
        <a href="/#items/<%= item.id %>">
          <div class="item-container">
            <div class="items-box col-md-4">
              <div class="items-name">
                <h3><%= item.attributes.name %></h3>
              </div>

              <div class="items-description">
                <p><%= item.attributes.description %></p>
              </div>
            </div>
          </div>
        </a>
      <% }); %>
    </div>
  </script>

  <!-- ITEM VIEW -->
  <script type="text/template" id="item-view-template">
    <div class="row">
        <div class="item-box col-md-6">
          <div class="item-name">
            <h3><%= item.attributes.name %></h3>
          </div>

          <div class="item-description">
            <p><%= item.attributes.description %></p>
          </div>
        </div>
    </div>
  </script>

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/underscore/underscore-min.js"></script>
  <script src="../bower_components/sweetalert/lib/sweet-alert.min.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <script src="//www.parsecdn.com/js/parse-1.3.1.min.js"></script>

  <!-- - - - - - - -
  | GOOGLE ANALYTICS
  - - - - - - - - -->
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
  </script>

  <!-- build:js scripts/plugins.js -->
  <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js"></script>
  <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js"></script>
  <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
  <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
  <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js"></script>
  <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js"></script>
  <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"></script>
  <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js"></script>
  <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js"></script>
  <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
  <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js"></script>
  <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js"></script>
  <!-- endbuild -->

  <!-- build:js({app,.tmp}) scripts/main.js -->
  <script src="scripts/item-view.js"></script>
  <script src="scripts/items-view.js"></script>
  <script src="scripts/product-view.js"></script>
  <script src="scripts/products-view.js"></script>
  <script src="scripts/admin-view.js"></script>
  <script src="scripts/login-view.js"></script>
  <script src="scripts/home-view.js"></script>
  <script src="scripts/product.js"></script>
  <script src="scripts/item.js"></script>
  <script src="scripts/router.js"></script>
  <script src="scripts/main.js"></script>
  <!-- endbuild -->
</body>
</html>
